html {
  font-family: 'Open Sans';
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  color: #231F20;
  margin: 0;
  font-size: 1rem;
}

.map {
  bottom: 0;
  top: 0;
  width: 100%;
}

.map__title-box {
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 15px;
  position: absolute;
  max-width: 460px;
  z-index: 10;
}

.map__title {
  font-size: 1.5rem;
  line-height: 1.65rem;
}

.map__subtitle {
  font-size: 1.25rem;
}

.legend__wrapper {
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 15px;
  position: absolute;
  max-width: 168px;
  min-height: 20px;
  right: 0;
  z-index: 10;
}

.map__legend {
  max-height: 300;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.legend__title {
  fill: #231F20;
  font-size: 1rem;
  font-weight: bolder;
}

.legend__entry {
  font-size: .75rem;
}

.button__collapsible--minus {
  position: absolute;
  z-index: 30;
  top: 290px;
  right: 10px;
}

.button__collapsible--plus {
  display: none;
  right: 10px;
  position: absolute;
}

.maximize-instructions {
  display: none;
  font-weight: bold;
}

.mapboxgl-popup-content {
  padding: 10px 10px 15px;
}

.tooltip__list {
  list-style: circle;
  margin: unset;
  padding-left: 1rem;
}

.tooltip__title {
  font-weight: bold;
}

.tooltip__text {
  line-height: 1rem;
  margin: 0;
  font-size: .75rem;
}

@media only screen and (max-width: 700px) {
  .map {
    height: 500px;
  }

  .map__title-box {
    max-width: 270px;
  }
  .map__title {
    font-size: 1.15rem;
    line-height: 1.2rem;
  }

  .map__subtitle {
    font-size: 1rem;
    line-height: 1.05rem;
  }
}

@media only screen and (max-width: 500px) {
  .legend__wrapper {
    left: 0;
    top: 140px;
  }
}