html {
  font-family: 'Open Sans';
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  color: #231F20;
  margin: 0;
  font-size: 1rem;
}

.map {
  bottom: 0;
  top: 0;
  width: 100%;
}

.map__title-box {
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 15px;
  position: absolute;
  max-width: 460px;
  z-index: 10;
}

.map__title {
  font-size: 1.5rem;
  line-height: 1.65rem;
}

.map__subtitle {
  font-size: 1.25rem;
}

.map__legend {
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 15px;
  position: absolute;
  right: 0;
  z-index: 10;
}

.legend__title {
  fill: #231F20;
  font-size: 16px;
  font-weight: bolder;
}

.mapboxgl-popup-content {
  padding: 10px 10px 15px;
}

.tooltip__list {
  list-style: circle;
  margin: unset;
  padding-left: 1rem;
}

.tooltip__title {
  font-weight: bold;
}

.tooltip__text {
  line-height: 1rem;
  margin: 0;
  font-size: .75rem;
}
